/* -------------------------------------------------------FONT----------------------------------------------------------------- */
p{
    font-weight: normal;
    line-height: 1.5;
}

h1{
    font-size: 60px;
    font-weight: 600;
    max-width: 378px;
}

h2{
    font-weight: 600;
    font-size: 28px;
}

h3{
    font-weight: 600;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */


*{
    font-family: "Epilogue", sans-serif;
    /* margin: 0; */
}

body{
    margin: 0;
}

header{
    *{
        color: white;
    }  
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    div{
        display: flex;
        gap: 15px;
    }
    a{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    img{
        height: 50px;
        width: 50px;
    }
}

button{
    background-color: white;
    padding: 10px;
}



/* -------------------------------------------------------CLASSES----------------------------------------------------------------- */
.fa-brands {
    font-size: 20px;
}


.container{
    margin: auto;
    max-width: 1060px;
}

.sectionPadding{
    padding-block: 64px;
}

.sectionBackground{
    background-color: rgb(23, 22, 22);
}

.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 150px;   
}

.cardWrapperRealisation{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    /* justify-content: space-between; */
}

.cardWrapperTemoignage{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.cardServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    text-align: center; 
    width: 231px;
}

.card{
    display: flex;
    flex: 1 30px;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-wrap: wrap;

    img{
        width: 300px;
        height: 350px;
    }
}

.cardTemoignage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    background-color: #9389891f;
    padding: 30px;
    width: 219px;

    p{
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
    }

    span{
        font-weight: normal;
        font-size: 15px;
    }

    img{   
        height: 40px;
        width: 40px;
    }
}

.vote{
    display: flex;
    gap: 20px;
}

.avis{
    display: flex;
    flex-direction: column;
}

.avisEtoiles{
    display: flex;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */






/* -------------------------------------------------------ID----------------------------------------------------------------- */

#sectionHero{
    display: flex;
    justify-content: space-between;

    span{
        font-size: 17px;
        line-height: 26px;
    }

    a{
        color: black;
        background-color: white;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        padding: 20px;
        width: 165px;
    }
    /* align-items: flex-start; */
}

#heroContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#titre{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#sectionContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        padding-bottom: 45px;
    }

    h3{
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p{
        font-weight: normal;
        font-size: 15px;
    }
}

#sponsorContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#realisationContent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    p{
        font-weight: normal;
        font-size: 15px;
    }
}

#temoignageContent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#sectionFooter{
    color: white;

    h2{
        font-size: 32px;
        text-align: center;
    }
}

#footerContent{
    display: flex;
    align-items: center;
    gap: 291px;
    justify-content: center;
}

#footerContent2{
    display: flex;
    flex-direction: column;
    width: 450px;
}

#logoFooter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    
    img{
        height: 40px;
        width: 40px;
    }
}

#form{
    display: flex;
    flex-direction: column;

    input{
        width: 100%;
        padding: 12px;
        margin: 5px 0;
        /* box-sizing: border-box; */
    }  
}

/* ----------------------------------------------------------------------------------------------------------------------------- */