body{
    margin: 0;
}

*{
    font-family: "Epilogue", sans-serif;
}


header{
    *{
        color: white;
    }
    
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    div{
        display: flex;
        gap: 15px;
    }
    a{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    img{
        height: 50px;
        width: 50px;
    }
}

button{
    background-color: white;
    padding: 10px;
}



/* -----------------------------Classes------------------------------------ */

.container{
    margin: auto;
    max-width: 1400px;
}

.sectionPadding{
    padding-block: 64px;
}

.sectionBackground{
    background-color: rgb(23, 22, 22);
}

.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 90px
}

.cardWrapperRealisation{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    /* justify-content: space-between; */
    
}

.cardServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    text-align: center; 
    width: 145px;
}

.card{
    display: flex;
    flex: 1 30px;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;

    flex-wrap: wrap;

    img{
        width: 300px;
        height: 350px;
    }
}

/* ------------------------------------------------------------------------ */






/* -----------------------------ID----------------------------------------- */

#sectionHero{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}


#sectionContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-bottom: 45px;
    }

}

#sponsorContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#realisationContent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#sectionFooter{
    color: white;
    h2{
        text-align: center;
    }
}

#footerContent{
    display: flex;
    align-items: center;
    gap: 291px;
    justify-content: center;
}

#footerContent2{
    display: flex;
    flex-direction: column;
    width: 450px;

}

#logoFooter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    
    img{
        height: 40px;
        width: 40px;
    }
}

#form{
    display: flex;
    flex-direction: column;

    input{
        width: 100%;
        padding: 12px;
        margin: 5px 0;
        /* box-sizing: border-box; */
    }
    
}